div {
  height: 70px;
  line-height: 30px;
  text-align: center;
  border: 4px dashed #f69c55;
}

@import url(https://fonts.googleapis.com/css?family=Pacifico);
@import url('https://fonts.googleapis.com/css?family=Anton');

body {
  background-color:#607D8B;
}

.container{
  background-color:#E0F2F1;
  padding:15px;
  border-radius:20px;
  box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.75);
}

h1, h2{
  text-align:center;
}

.underlined {
  text-decoration: underline overline solid white;
  text-align:center;
  color: yellow;
}

.underlined2 {
  text-align:center;
  color: gold;
}

pi {
 text-align: left;
 font-size: 16px;

}

h1 {
  color:rgba(100, 50, 255, .8);
  font-family: 'Pacifico', cursive;
  color:#212121;
}
#float  {
float: right;    
 margin: 0 0 0 15px;
 height: 500px;
}
#left  {
float: left;  
}
.rainbow {
  
   /* Font options */
  font-family: 'Pacifico', cursive;
  text-shadow: 2px 2px 4px #000000;
  font-size:40px;
  
   /* Chrome, Safari, Opera */
  -webkit-animation: rainbow 5s infinite; 
  
  /* Internet Explorer */
  -ms-animation: rainbow 5s infinite;
  
  /* Standar Syntax */
  animation: rainbow 5s infinite; 
}

/* Chrome, Safari, Opera */
@-webkit-keyframes rainbow{
  0%{color: Red;}	
  10%{color: Blue;}	
	20%{color: Red;}
  30%{color: Blue;}
	40%{color: Red;}
  50%{color: Blue;}
	60%{color: Red;}
  70%{color: Blue;}
  80%{color: Red;}
  90%{color: Blue;}
	100%{color: Red;}
}

/* Internet Explorer */
@-ms-keyframes rainbow{
   0%{color: Red;}	
  10%{color: Blue;}	
	20%{color: Red;}
  30%{color: Blue;}
	40%{color: Red;}
  50%{color: Blue;}
	60%{color: Red;}
  70%{color: Blue;}
  80%{color: Red;}
  90%{color: Blue;}
	100%{color: Red;}
}

/* Standar Syntax */
@keyframes rainbow{
    0%{color: Red;}	
  10%{color: Blue;}	
	20%{color: Red;}
  30%{color: Blue;}
	40%{color: Red;}
  50%{color: Blue;}
	60%{color: Red;}
  70%{color: Blue;}
  80%{color: Red;}
  90%{color: Blue;}
	100%{color: Red;}
	<!-- Original code was from https://codepen.io/cb_rn/pen/OVXXmj I ended up changing some stuff around for my website -->


<h1 style="colour: green; font-size:16px">Robert Mitrovski's Profile</h1>
